# Ambiente Virtual
venv/
backend/venv/
env/

# Configurações com Senhas e Chaves
.env
backend/.env

# Banco de Dados Local
reab.db
*.db
backend/reab.db

# Arquivos Temporários do Python
__pycache__/
*.pyc
.pytest_cache/

# Arquivos de IDE e Sistema
.vscode/
.idea/
.DS_Store